<h1>Add human</h1>
<button><a href="/basic_setup">Check db</a></button>


<form id="form_add_human" method="post" action="/">
            {% csrf_token %}
             <p>
                Name:<br>
                <input type="text" id ="human_name" name="human_name" required/>
            </p>
            <p>
                Age:<br>
                <input type="number" id ="human_age" name="human_age" required/>
            </p>

            <p>
                <select id="gender_dropdown" name="human_gender">
                {% for gender in genders %}
                <option id="gender_option">{{ gender.name }}</option>
                {% endfor %}

            </select>
            </p>
            <p>
                <input id="submit" type="submit" value="Save" class=b1 />
                <input type="reset" value="Clear" class=b1 />
            </p>

        </form>

<hr>

{% for hum in humans %}
    <h3>{{ hum.name }} - {{ hum.age }} - {{ hum.gender_name }}
        <button><a href="/delete/{{ hum.id }}">delete</a></button>
        <button><a href="/update/{{ hum.id }}">update</a></button>
    </h3>
{% endfor %}